* {
    BG:    #1E1D2FFF;
    BGA:   #CBA6F7FF;
    FG:    #D9E0EEFF;
    FGA:   #F28FADFF;
    BDR:   #CBA6F7FF;
    SEL:   #1E1E2EFF;
    UGT:   #F28FADFF;
    IMG:   #FAE3B0FF;
    OFF:   #575268FF;
    ON:    #ABE9B3FF;
}
